#include <windows.h>
#include <wingdi.h>
#include <winuser.h>

RC_LOGO ICON "logo_512.ico"

IMG_EN BOOBA "data/imgs/en.bmp"
IMG_ERR BOOBA "data/imgs/error.bmp"
IMG_FOLD BOOBA "data/imgs/folder.bmp"
IMG_NL BOOBA "data/imgs/nl.bmp"
IMG_SRC BOOBA "data/imgs/search.bmp"
IMG_LOGO BOOBA "data/imgs/logo_64.bmp"
IMG_MONOTTF BOOBA "data/fonts/mono.ttf"
TR_EN BOOBA "data/translations/en-English.mo"
TR_NL BOOBA "data/translations/nl-Dutch.mo"

1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Aldrik Ramaekers"
      VALUE "FileDescription", "Text-search"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Text-search"
      VALUE "LegalCopyright", "Aldrik Ramaekers"
      VALUE "OriginalFilename", "Text-search.exe"
      VALUE "ProductName", "Text-search"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
